@media (width < 1024px) {
    .card figure {
        width: 48%;
    }

    .recetas {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .col {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .mundial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mundial1 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .salud.recetas {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card p {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media(width < 768px) {
    nav {
        flex-direction: column;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    .mundial1 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .destino {
            justify-content: center;
        }
    }
    .mundial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .container-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .asoccel {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .member {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .recetas {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .team {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .col {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .especial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .busqda {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .salud {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    /* footer */
    footer {
        flex-direction: column;
    }

    footer div:first-child {
        margin-top: 6px;
        color: $mainColor;
    }

    footer div:nth-child(3) {
        margin-top: 10px;
    }
}

@media (width < 500px) {
    .recetas {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    h1 {
        font-size: 1.4em;
        margin: 10px 0;
        text-align: center;
    }

    .row {
        display: row;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    .mundial1 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .mundial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .col {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .col1 {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .busqda {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .especial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .salud {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .destino {
            justify-content: center;
        }
    }

    .member {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        img {
            display: flex;
        }
    }
}